# Functional Programming

### [itertools](https://docs.python.org/3/library/itertools.html) & [more](https://more-itertools.readthedocs.io/en/stable/)

### [itertools.chain](https://docs.python.org/3/library/itertools.html#itertools.chain)

In [ ]:
from itertools import chain

In [ ]:
for elem in chain(range(5), [10, 20], 'sample', [[i] for i in range(5)]):
    print(elem, end=' ')

0 1 2 3 4 10 20 s a m p l e [0] [1] [2] [3] [4]

In [ ]:
from typing import Any

def repeat(times: int, obj: Any) -> list[Any]:
    return [obj] * times

In [ ]:
list(repeat(5, [1, 2, 3]))

[[1, 2, 3], [1, 2, 3], [1, 2, 3], [1, 2, 3], [1, 2, 3]]

In [ ]:
list(chain.from_iterable(repeat(5, [1, 2, 3])))

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

### [itertools.tee](https://docs.python.org/3/library/itertools.html#itertools.tee)

In [ ]:
from itertools import tee

![tee](http://4.bp.blogspot.com/-u_KYBwIUyF4/UUR5cvbv6PI/AAAAAAAAAXs/hPJT0ZR5iBc/s1600/tee_diagram.png)

In [ ]:
iterator1, iterator2 = tee(range(3), 2)

In [ ]:
for elem in iterator1:
    print(elem, end=' ')

for elem in iterator2:
    print(elem, end=' ')

0 1 2 0 1 2

### [itertools.groupby](https://docs.python.org/3/library/itertools.html#itertools.groupby)

In [ ]:
from itertools import groupby

In [ ]:
for key, group in groupby('AABBCCDAAB'): 
    print(key, list(group))

A ['A', 'A']
B ['B', 'B']
C ['C', 'C']
D ['D']
A ['A', 'A']
B ['B']

In [ ]:
words = ['cab', 'face', 'cafe', 'abc', 'goo']
words = sorted(words, key=sorted)
words

['cab', 'abc', 'face', 'cafe', 'goo']

In [ ]:
for key, group in groupby(words, key=sorted): 
    print(','.join(key), list(group))

a,b,c ['cab', 'abc']
a,c,e,f ['face', 'cafe']
g,o,o ['goo']

# DB

### SQL Cheat Sheet

In [ ]:
from db_runner import DB

# setup
db = DB()
files_to_run = [
    "sql/01_create_tables.sql",
    "sql/02_seed.sql",
    "sql/05_update_delete.sql"
]
[db.run_file(f) for f in files_to_run]

#### 7) Transactions (commit/rollback)
Demonstrate all-or-nothing writes and verify with a quick count.
- **SQL file:** [sql/06_transaction.sql](sql/06_transaction.sql)  
- **Python:**

In [ ]:
print(db.query_file("sql/06_transaction.sql"))

[(2,)]

#### 8) Index for a common query
Create a composite index; inspect the plan for a filtered, ordered read.
- **SQL file:** [sql/07_index.sql](sql/07_index.sql)  
- **Python:**

In [ ]:
for row in db.query_file("sql/07_index.sql"):
    print(row)

(4, 0, 63, 'SEARCH orders USING INDEX idx_orders_customer_created (customer_id=?)')

#### 9) Upsert with ON CONFLICT
Insert if new; otherwise no-op or update by unique key.
- **SQL file:** [sql/08_upsert.sql](sql/08_upsert.sql)  
- **Python:**

In [ ]:
db.run_file("sql/08_upsert.sql")

Source: [**SQL Tutorial**](https://www.sqlitetutorial.net/) + [**SQL & Python Tutorial**](https://www.sqlitetutorial.net/)